<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Kalam:wght@300&display=swap" rel="stylesheet">
        <link rel='icon' href='/img/favicon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>About Page</h2>     
        </div>
        {{>footer}}
    </body>
</html>