{{!-- ### header.hbs --}}
<header>
    <h1>{{title}}</h1>
    
    <!-- ### links --!>
    <a href="/">Home</a>
    <a href="/helloWorld">Hello World</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>